<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.0.1" targetFramework="net462" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.1" targetFramework="net462" />
  <package id="MESCIUS.Data.DataEngine" version="4.0.1" targetFramework="net462" />
  <package id="MESCIUS.Data.ExpressionInfo" version="4.0.1" targetFramework="net462" />
  <package id="MESCIUS.Data.VBFunctionLib" version="4.0.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports" version="18.1.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Aspnet.Designer" version="18.1.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Aspnet.Viewer" version="18.1.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Chart" version="18.0.3" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.DataProviders" version="3.1.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Document" version="4.6.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Document.Drawing.Gc" version="4.6.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Document.Drawing.Gdi" version="4.6.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Drawing.Gc" version="3.10.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Drawing.Gdi" version="3.10.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Export.Excel.Page" version="3.10.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Export.Html.Page" version="3.10.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Export.Image.Page" version="3.10.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Export.Pdf.Page" version="3.10.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Export.Pdf.Section" version="4.6.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Export.Svg.Page" version="3.10.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Export.Text.Page" version="3.10.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Export.Tiff.Section" version="4.6.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Export.Word.Page" version="3.10.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Rdl" version="3.10.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Rendering" version="3.10.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Scripting" version="3.10.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Export.Excel" version="18.1.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Export.Html" version="18.1.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Export.Image" version="18.1.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Export.Pdf" version="18.1.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Export.Word" version="18.1.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Export.Xml" version="18.1.1" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.SpreadBuilder" version="2.1.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Web.Viewer" version="18.1.1" targetFramework="net462" />
  <package id="DS.Documents.Imaging.Windows" version="7.1.2" targetFramework="net462" />
  <package id="DS.Documents.DX.Windows" version="7.1.2" targetFramework="net462" />
  <package id="DS.Documents.Imaging" version="7.1.2" targetFramework="net462" />
  <package id="DS.Documents.Pdf" version="7.1.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.Owin.Diagnostics" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.Owin.FileSystems" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.Owin.StaticFiles" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.SqlServer.Types" version="10.50.1600.1" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="BouncyCastle.Cryptography" version="2.3.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.IO.Packaging" version="6.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="6.0.8" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>